<%= form_with(url: account_create_transfer_path, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :destiny_account_number %>
    <%= form.text_field :account_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: :true %>
  </div>

  <div class="my-5">
    <%= form.label :amount %>
    <p class="flex items-center text-sm text-gray-500 dark:text-gray-400">Information about transfer fees
      <button data-popover-target="popover-right" data-popover-placement="right" type="button">
        <svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
      </button>
    </p>
    
    <div data-popover id="popover-right" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">
      <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
        <h3 class="font-semibold text-gray-900">Transfer Fee</h3>
      </div>
      <div class="px-3 py-2">
        <p>Transfers over $1000 have an additional $10 fee</p>
      </div>
      <div data-popper-arrow></div>
    </div>

    <%= form.text_field :amount, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", required: :true %>
  </div>

  <div class="inline">
    <%= form.submit 'Transfer', class: "rounded-lg py-3 px-5 bg-purple-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
