<header class="w-full">
  <nav class="bg-white border-gray-200 py-2.5">
    <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
      <%= link_to(root_path, class:"flex items-center") do %>
        <%= image_tag('logo.svg', class: 'mf-3 h-6 mr-4 sm:h-9') %>
        <span class="self-center text-xl font-semibold whitespace-nowrap">
          NobBank
        </span>
      <% end %>
      <div class="flex items-center lg:order-2">
        <%# User signed_in? %>
        <% if user_signed_in? %>
          <button data-dropdown-toggle="dropdownDivider" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0" type="button"><%= current_user.full_name %></button>
          <div id="dropdownDivider" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownDividerButton">
              <li>
                <%= link_to("Dashboard", accounts_path, class:"block px-4 py-2 hover:bg-gray-100") %>
              </li>
              <li>
                <%= link_to('Edit Account', edit_user_registration_path, data: {action: "dropdown#toggle"}, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") %>
              </li>
            </ul>
            <div class="py-2">
              <%= button_to("Logout", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") %>
            </div>
          </div>
        <% else %>
          <%= link_to("Create Account", new_user_registration_path, class:"text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2") %>
          <%= link_to("Sign in", new_user_session_path, class:"text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0") %>
        <% end %>
      </div>
      <div class="flex justify-center flex-1">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
          <div
        class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
        id="mobile-menu-2">
            <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
              <li>
                <%= link_to("Home", root_path, class:"block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0") %>
              </li>
              <li>
                <%= link_to("Dashboard", accounts_path, class:"block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0") %>
              </li>
              <li>
                <%= link_to("About", about_path, class:"block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0") %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
