<%= link_to(root_path, class:"flex items-center") do %>
  <%= image_tag('logo.svg', class: 'mf-3 h-6 mr-4 sm:h-9') %>
  <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
    NobBank
  </span>
<% end %>
<div class="flex items-center lg:order-2">
  <%= render  "users/shared/user_signed" %>
</div>
<div class="flex justify-center flex-1 lg:mr-32">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
    <div
        class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
        id="mobile-menu-2">
      <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
        <li>
          <%= link_to("Home", root_path, class:"block py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white") %>
        </li>
        <li>
          <%= link_to("Dashboard", accounts_path, class:"block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0") %>
        </li>
        <li>
          <%= link_to("Marketplace", '#', class:"block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0") %>
        </li>
        <li>
          <%= link_to("Features", '#', class:"block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0") %>
        </li>
        <li>
          <%= link_to("Contact", '#', class:"block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0") %>
        </li>
      </ul>
    </div>
  </div>
</div>
