<!DOCTYPE html>
<html>
  <head>
    <title>NobBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-full">
    <header class="z-10 py-4 bg-white dark:bg-gray-800">
      <div class="container flex items-center justify-between h-full px-6 mx-auto">
        <%= render  "layouts/header" %>
      </div>
    </header>
    <div class="container px-6 mx-auto grid">
      <%= yield %>
    </div>
</body>
</html>
