<!DOCTYPE html>
<html>
  <head>
    <title>NobBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-full">
    <% unless action_name != "edit" && action_name != "update" %>
      <%= render  "layouts/components/header" %>
    <% end %>
    <div class="container px-5 py-24 mx-auto">
    <%= render  "layouts/components/alerts" %>
      <%= yield %>
    </div>
  </body>
</html>
