<div id="<%= dom_id account %>">
  <p class="my-5">
    <strong class="inline text-slate-700">Account Number:</strong>
    <span class="bg-purple-100 text-purple-800 text-sm font-semibold mr-2 px-2 py-1 dark:bg-purple-900 rounded-full" data-popover-target="popover-right"
    data-popover-placement="right">#<%= account.try(:account_number) %></span>
  </p>
  <%# Popover %>
  <div data-popover id="popover-right" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">
    <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
      <h3 class="font-semibold text-gray-900">Account Number</h3>
    </div>
    <div class="px-3 py-2">
      <p>share your account number to receive transfers</p>
    </div>
    <div data-popper-arrow></div>
  </div>

  <p class="my-5">
    <strong class="inline text-slate-700">Account Holder:</strong>
    <%= current_user.full_name %>
  </p>
  <p class="my-5">
    <strong class="inline text-slate-700">Email:</strong>
    <%= current_user.email %>
  </p>
  <p class="my-5">
    <strong class="inline text-slate-700">Balance available:</strong>
    <%= number_to_currency(account.try(:balance), unit: "R$ ", separator: ".", delimiter: ",") %>
  </p>
  <p class="my-5">
    <strong class="inline text-slate-700">Created:</strong>
    <%= account.created_at.strftime("%a, %d %B %Y at %T") %>
  </p>
</div>
<div>
  <div class="inline-block ml-2">
    <%= button_to active_button_text(account.try(:status)), account_path(account),
      method: :delete,
      data: { turbo_confirm: 'Are you sure?' },
      class: "ml-2 rounded-lg py-2.5 px-5 bg-purple-600 hover:bg-purple-800  text-white inline-block font-medium"
    %>
  </div>
  <%= link_to "Deposit", account_deposit_path(account),
    method: :get,
    class: "rounded-lg ml-2 px-5 py-2.5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Withdraw", account_withdraw_path(account),
    method: :get,
    class: "rounded-lg py-2.5 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Transfer", account_transfer_path(account),
    method: :get,
    class: "rounded-lg py-2.5 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
</div>
