<%= form_with(model: account, class: "contents") do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :balance %>
    <%= form.text_field :balance, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>

  <div class="my-5 ">
    <%= form.label :active? %>
    <%= form.check_box :status, class: 'text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray' %>
  </div>
  <div class="inline">
    <%= form.submit "Create account", class: "rounded-lg py-3 px-5 bg-purple-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>


