<div class="w-full">
  <h2 class="my-6 text-2xl font-semibold text-gray-700"></h2>
  <%# Dashboard/nav %>
  <h4 class="mb-4 text-lg font-semibold text-gray-600" >
   Your account
  </h4>
  <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md">
    <p class="text-sm text-gray-600">
      Large, full width sections goes here
    </p>
  </div>
  <div class="mx-auto">
    <%# Cards Profile / History %>
    <div id="users" class="grid gap-6 mb-8 md:grid-cols-2">
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs shadow-md">
        <p class="text-gray-600"><%= render 'account', account: @account %></p>
        <%= render  "shared/links", account: @account %>
        <div class="inline-block ml-2">
          <%= button_to 'Switch off', account_path(@account), method: :delete,
          class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </div>
        <%= link_to 'Back', accounts_path, class: "ml-2 rounded-lg py-3
        px-5 bg-gray-100 inline-block font-medium" %>
      </div>
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-md">
        <h4 class="mb-4 font-semibold">Transactions history</h4>
        <% if @transactions.present? %>
          <table class="table table-zebra w-full">
            <thead>
              <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |t| %>
                <tr>
                  <td>
                    <span class="<%= color_transaction(t.transaction_type) %>">
                      <%= t.transaction_type %>
                    </span>
                  </td>
                  <td><%= number_to_currency(t.amount) %></td>
                  <td><%= t.created_at.strftime("%a, %d %B %Y at %T") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="text-center text-red-500 mb-4">No transactions found</p>
        <% end %>

      </div>
    </div>
  </div>
</div>
